body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

article {
    padding: 1em;
    margin: 1em;
    text-align: center;
    border: 1px solid black;
    flex: 1 1 500px;
}

article p {
    margin: 3em;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 3em;
}

.graph {
    display: grid;
    place-items: center;
}

.blogwall {
    display: flex;
    margin-top: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}