article {
    background-color: black;
    color: white;
    padding: 1em;
    margin: 1em;
    text-align: center;
}

article p {
    margin: 3em;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 3em;
}

.graph {
    display: grid;
    place-items: center;
}

.blog {
    display: flex;
    margin-top: 2em;
}